* {
  @apply m-0 p-0;
  font-family: Inter;
  font-family: sans-serif;
}
.mainhead {
  @apply bg-slate-900 h-[550px] relative;
}
.Vector1 {
  @apply absolute max-w-full bottom-0;
}
.earth {
  @apply absolute max-w-full h-4/5 right-[5%] top-[8%];
  align-items: right;
}
.title {
  @apply absolute text-[white] text-[65px] font-bold w-2/5 leading-[1.2] left-[7%] top-[12%];
  font-family: Eudoxus, Sans-serif;
}
.title2 {
  @apply absolute text-[white] text-base w-[35%] leading-[1.2] left-[7%] top-[55%];
  font-family: Eudoxus, Sans-serif;
}
.rec {
  @apply absolute left-[20%] top-[46.5%];
}
.btn22 {
  @apply absolute no-underline bg-[#D62828] text-[white] text-[15px] cursor-pointer transition-all duration-[0.3s] ease-[ease] delay-[0s] font-normal gap-10 ml-5 px-8 py-4 rounded-[15px] border-[none] left-[5.5%] top-[64%];
}
.btn11 {
  @apply absolute no-underline bg-slate-900 text-[white] text-[15px] cursor-pointer transition-all duration-[0.3s] ease-[ease] delay-[0s] font-normal border ml-5 px-8 py-[15px] rounded-[15px] border-[none] border-solid border-white left-[15.5%] top-[64%];
}