* {
    padding: 0;
    margin: 0;
    font-family: Inter;
    font-family: sans-serif;
}
.mainhead{
    background-color: #0F172A;
    height: 550px;
    position: relative;

}
.Vector1 {
    position: absolute;
    bottom:0;
        
        max-width:100%;
        
}
.earth {
    position:absolute;
    top: 8% ;
    right :5%;
    align-items: right;
    max-width: 100%;
    height:80%;
}
.title{
    font-family: Eudoxus, Sans-serif;
    position: absolute;
    top: 12%;
    left: 7%;
    color: white;
    font-size: 65px;
    font-weight: 700;
    width:40%;
}
.title2 {
font-family: Eudoxus, Sans-serif;
    position: absolute;
    top: 55%;
    left: 7%;
    color: white;
    font-size: 16px;
    width: 35%;

}
.rec {
    position: absolute; 
    top: 46.5%;
    left: 20%;   
}

 .btn22 {
    position: absolute;
    top: 64%;
    left: 5.5%;
     text-decoration: none;
     background-color: #D62828;
     color: white;
     border: none;
     padding: 18px 32px;
     font-size: 15px;
     cursor: pointer;
     margin-left: 20px;
     border-radius: 15px;
     transition: all 0.3s ease 0s;
     font-weight: 400;
 }
 .btn11 {
    position: absolute;
    top: 64%;
    left: 15.5%;
     text-decoration: none;
     background-color: #0F172A;
     color: white;
     border: none;
     padding: 18px 32px;
     font-size: 15px;
     cursor: pointer;
     margin-left: 20px;
     border-radius: 15px;
     transition: all 0.3s ease 0s;
     font-weight: 400;
    border-style: solid;
    border-color: white;
    border-width: 1px;
 }
